/**
* @file uc_donation_incentive done by s.deepak 011204055 
*/
div.product-donation-incentive {
  vertical-align: middle;
  margin-top: 4px;
  margin-bottom: 4px;
}

div.product-donation-incentive-teaser {
  vertical-align: middle;
  margin-top: 4px;
  margin-bottom: 4px;
}


div.product-donation-incentive-teaser span {
  display: none;
}

div.product-donation-incentive-teaser a {
  text-decoration: none;
  cursor: default;
}

div.product-donation-incentive-teaser a:hover span {
  display: inline;
  position: absolute;
  z-index: 999;
  background-color: white;
  padding: 5px;
  border: 1px solid;
}

div.donation-incentive-description {
  margin-left: 45px;
  margin-bottom: 15px;
  min-height: 40px;
}

div.donation-incentive-description img {
  float: left;
  margin-top: 5px;
  margin-left: -45px;
}

/*011204055,8650n,9597684616
*/